html,body{
    overflow-x: hidden;
    width: 100%;
    margin: 0;
}
.container{
    width: 1600px;
    max-width:100% ;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.header_menu{
     
     width: 100%;
     z-index: 2;
    }
    .logo_img{
        width: 15%;
        height: 15%;
        margin-left: 50px;
        padding-right: 140px;
    }
    .menu_list{
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    margin-top: -100px;
}
.menu_list li {
    margin-left: 80px;
}
.menu_item{
    list-style: none;
}
    
    .menu_link{
        color: #fff;
        font-size: 24px;
    }
    .menu_link:hover{
        content: '';
        color: rgb(255, 251, 0);
        transition: 3s;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
.menu_link{
    text-decoration: none;
}
._ibg{
    position: relative;
}
._ibg img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.main_block{
    position: relative;
}
.main_block-image{
    position: absolute;
    top:0;
    left:0;
    height: 115%;
    width: 100%;
    z-index: -1;
}
.main_container{
    margin-left: 80px;
}
.main_block-title{
    color: #fff;
    font-size: 80px;
    font-weight: 700;
    font-style: normal;
}

.main_block-text{
    margin-top: 50px;
    color: #fff;
    font-size: 40px;
    font-style: normal;
}
.main_title{
    color: #fff;
    font-size: 30px;
    }
.main-block_button{
    margin-top: 30px;
    margin-bottom: 50px;
}
.mein-button{
    width: 100%;
    background-color: rgb(208, 240, 29);
    padding: 17px;
    border-radius: 45%;
    text-decoration: none;
    color: black;
    position: relative;
    transition: all .2s;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    
}
.main-buttom::after{

        content: "";
    
        position: absolute;
    
        width: 100%;
    
        height: 100%;
    
        top: -3px;
    
        left: -3px;
    
        opacity: 0;
    
        border: 3px solid rgba(255,255,255,0.1);
    
        -webkit-animation: pulse1 2s linear infinite;
    
        -moz-animation: pulse1 2s linear infinite;
    
        animation: pulse1 2s linear infinite;
    
        -webkit-border-radius: 999px;
    
        -moz-border-radius: 999px;
    
        border-radius: 999px;
    
        -webkit-box-shadow: inset 0px 0px 15px 10px rgba(71,91,115,0.41);
    
        -moz-box-shadow: inset 0px 0px 15px 10px rgba(71,91,115,0.41);
    
        box-shadow: inset 0px 0px 15px 10px rgba(71,91,115,0.41);
    
    }

    @keyframes shadow {
        0% {
          box-shadow: 0 0 10px 0px rgb(228, 231, 30), 0 0 10px 0px rgb(238, 152, 137);
        }
        100% {
          box-shadow: 0 0 18px 6px rgba(255, 48, 26, 0), 0 0 4px 50px rgba(255, 48, 26, 0);
        }
      }
.mein-button:hover{
    content: '';
    background-color: chocolate;
    transition: .2s;
    animation: shadow .6s infinite linear;
}
.services_title{
    display: block;
 text-align: center;
  margin-top: 150px;
  font-size: 40px;
  margin-bottom: 60px;
  min-width: 320px;
  min-width: auto;
}
.colum-services{
    display: flex;
  flex-wrap: wrap;
  margin-left: 120px;
 
}
.services_title-text{
    list-style-type:circle ;
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 50px;
    margin: 0 30px;
}
.colum-services li {
color: coral;
}
.colum-services span{
    color: black;
}
.title-catalog{
    display: block;
   text-align: center;
   font-size: 40px;
}
.catalog_foto{
    display: grid;
    grid-template-columns: repeat(2,1fr);
} 
.catalog_foto img{
    width: 80%;
    height: 80%;
    object-fit: cover;
    margin-left: 50px;
    padding: 20px;
    z-index: 3;
    transition: 0.5s;
}
.catalog_img img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.footer_img{
    position: absolute;
    margin-top: -400px;
    z-index: -1;
}
.footer_img img{
    display: block;
    object-fit: cover;
   width: 100%;
   height:100vh;
   
}
.title-footer{
    max-width: 440px;
    max-height:160px;
    font-size: 32px;
    font-family: "Montserrat";
    padding: 20px 29px;
    background-color: #fff;
    color:black;
    margin-left: 500px;
    margin-top: -200px;
    z-index: 4;
    position: relative;
    border-radius: 30px;
    transition: 1.5s;
}
.title-footer:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.tel{
    text-align: center;
    margin-top: 100px;
}
.footer-tel{
font-size: 40px;
color: #fff;
text-decoration: none;
font-weight: 900;
}
.footer_name{
    text-align: center;
    font-size: 30px;
    color: #fff;
}

.pulse {
    background: #45e925;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 90%;
    left: 95%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 100px;
    color: #fff;
font-size: 40px;
z-index: 6;
position: fixed;
cursor: pointer;
line-height: 1.8;
}
.pulse:before,
.pulse:after {
    content: " ";
    display: block;
    position: absolute;
    border: 30%;
    border: 1px solid #45e925;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: animate 1.5s linear infinite;
}
@keyframes animate
{
0%
{
    transform: scale(0.5);
    opacity: 0;
}
50%
{
    opacity: 1;
}
100%
{
    transform: scale(1.2);
    opacity: 0;
}
}
.telegram-button {
    position: fixed;
    right: 13px;
    bottom: 130px;
    transform: translate(-50%, -50%);
    background: #0088cc; /*цвет кнопки*/
    border-radius: 50%;
    width: 55px; /*ширина кнопки*/
    height: 55px; /*высота кнопки*/
    color: #fff;
    text-align: center;
    line-height: 53px; /*центровка иконки в кнопке*/
    font-size: 35px; /*размер иконки*/
    z-index: 9999;
}
.telegram-button a {
    color: #fff;
}
.telegram-button:before,
.telegram-button:after {
    content: " ";
    display: block;
    position: absolute;
    border: 50%;
    border: 1px solid #0088cc; 
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: animate 1.5s linear infinite;
    opacity: 0;
    backface-visibility: hidden; 
}
 
.telegram-button:after{
    animation-delay: .5s;
}
 
@keyframes animate
{
    0%
    {
        transform: scale(0.5);
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        transform: scale(1.2);
        opacity: 0;
    }
}
@media (max-width:1000px){
    .telegram-button{
right:90px;
    }
    .pulse{
left:87%;
    }
    .services_body{
        margin-left:50px;
    }
    .catalog_foto img{
margin-left: 40px;
    }
    .footer_img{
     margin-top: -200px;
    }
}
@media(max-width:870px){
    .menu_list{
        margin-top: -80px;
    }
    .pulse{
        left:85%;
            }
    
    .colum-services{
     margin-left: 30px;
    }  
    .catalog_foto img{
        margin-left: 30px;
            } 
    .title-footer{
        margin-left: 20%;
    }            
}
@media(max-width:790px){
    .menu_list{
        margin-top: -70px;
    }
    .colum-services{
        margin-left: 20px;
       } 
       .catalog_foto img{
        margin-left: 20px;
            }
     .footer_img{
    margin-top: -100px;
               }
               .pulse{
                left:84%;
                    }  
}
@media(max-width:740px){
    .menu_list li {
        margin-left: 50px;
    }
    .menu_list{
        margin-left: 50px;
    }
    .pulse{
        left:83%;
            }
}
@media(max-width:650px){
    .menu_link{
        font-size: 20px;
    }
    .menu_list{
        margin-top: -60px;
    }
    .main-text{
        margin-left: -50px;
    }
    .main_title{
        font-size: 28px;
    }
    .catalog_foto img{
        margin-left: 15px;
            } 
    .footer_img{
    margin-top: -50px;
    }
    .pulse{
        left:80%;
            }
}
@media(max-width:580px){
    .logo_img{
        width: 140px;
        height:auto;
    }
    .menu_link{
        font-size: 17px;
        margin-left: -30px;
    }
    .menu_list{
        margin-top: -80px;
    }
    .main_block-title{
        font-size: 60px;
    }
    .main_block-text{
        font-size: 35px;
    }
    .catalog_foto img{
        margin-left: 10px;
            } 
            .footer_img{
                margin-top: 20px;
                }
    .footer_title{
        margin-top:90px;
    }
    .pulse{
        margin-left: -10px;
    }
}
@media(max-width:500px){
     .menu_link{
        font-size: 16px;
        margin-left: 30px;
     }
     .main_block-body{
        margin-left: -20px;
     }
     .services_body{
        margin-left: -20px;
     }
     .catalog_foto img{
        margin-left: 0px;
     }
     .title-footer{
        font-size: 25px;
     }
     .pulse{
        margin-left: -30px;
    }
}
@media(max-width:460px){
   .menu_list{
    flex-direction: column;
    float: right;
    margin-right: 20px;
   } 
   .main_block-image img{
    height: 650px;
   }
   
   .menu_link{
    font-size: 22px;
   }
   .main_block-title{
    font-size: 45px;
   }
   .main_block-text{
    font-size: 27px;
   }
   .main_title{
    font-size: 20px;
   }
   .main-block_button{
    margin-top: 50px;
   }
   .footer_img {
margin-top: -50px;
   }
   .title-footer{
    left:30px;
    font-size: 20px;
   
    max-width: 250px;
   }
   .footer_title{
    text-align: left;
   }
   .services_title{
    margin-top:250px;
   }
   .telegram-button{
    margin-right: -70px;
   }
   .pulse{
    margin-left: 20px;
   }
}
@media(max-width:420px){
    .main_block-body{
        margin-left: -20px;
    }
    .footer_img {
        margin-top: 100px;
       }
       .telegram-button{
        margin-right: -20px;
       }   
}
@media(max-width:400px){
    .main_block-text{
        font-size: 20px;
    }
    .telegram-button{
        margin-right: -80px;
    }
    .main_title{
        font-size: 25px;
    }
    .footer_img img{
        margin-top: -200px;
    }
}
@media(max-width:390px){
   
   .main_block-title{
    font-size: 45px;
   margin: 0;
    display: block;
   }
   .main_block-text{
    margin: 0;
    font-size: 19px;
display: block;
    max-width: 300px;
   }
   .main_block{
   max-width: 300px;
   }
   .footer_img {
    margin-top: -50px;
   }
   .footer_img img{
    width: 395px;
    height: 400px;
}
._ibg{
       height: 460px;
    width: 390px;
   }
   .colum-services{
    margin-left: -20px;
   }
   .telegram-button{
   right:10px;
   } 
   .pulse{
    left: 83%;
   }
   .catalog_container{
  left: 20px;
   }
   .title-footer{
    font-size: 22px;
   }
   .services_title{
    margin-top: 350px;
   }
}
@media(max-width:360px){
    .menu_link{
        display: none;
    }
    .services_body{
        margin-top: 150px;
    }
    .catalog_wrapper{
        margin-left: 30px;
    }
    .main_block-text{
        margin-top: 50px;
        font-size: 30px;
    }
    .main-text{
        margin-top: 30px;
    }
    .main_title{
        font-size: 27px;
    }
    .footer_contact{
        margin-left: 30px;
    }
    .services_title{
        margin-top: 50px;
    }
}
@media(max-width:340px){
    .main_block-image img{
        height: 750px;
    }
    .header_logo{
       margin-left: 100px;
    }
    .footer_img img{
        height: 450px;
    }
    .title-footer{
       font-size: 20px;
       bottom: -40px;
    }
    .footer_contact{
        margin-left: 60px;
    }
    .services_body{
        margin-left: 40px;
    }
}
@media(max-width:320px){
    .main-block_button{
        margin-left: 20px;
    }
    .main_block-body{
        margin-left: 50px;
    }
    .main_block-title{
       font-size: 50px;
       top:50px;
    }
    .main_block-text{
        text-align: center;
        margin-right: 30px;
    }
    ._ibg{
        height: 600px;
    }
    .catalog_foto{
        margin-left: 20px;
    }
    .catalog_title{
        margin-left: 40px;
    }
    .footer_title{
        margin-top: 170px;
    }
    .footer_img{
        margin-top: -150px;
    }
    .footer_img img{
        height: 500px;
    }
    .footer_contact{
       margin-left:60px;
    }
    .services_title{
        font-size: 30px;
        margin-left: 40px;
    }
    .colum-services{
        margin-left: -70px;
    }
    .services_title-text{
        font-size: 23px;
    }

}